html, body {
    height: 100%;
}
  
body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(9,35,175,1)0%, rgba(0,0,0,1) 100%);
    color: #fff;
}

button {
    text-transform: uppercase;
    background: #1646a0;
    color: white;
    padding: 0 45px;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 25px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0923af;
  }